@model List<WebMVCDemo.Models.SanPham>
@foreach (var item in Model)
{
    <div class="col-md-3 product-men">
        <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
                <img src="~/Content/images/@item.Img" class="pro-image-front" />
                <img src="~/Content/images/@item.Img" class="pro-image-back" />

                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a href="/@ViewBag.meta/@item.Meta/@item.MaSP" class="link-product-add-cart">Xem</a>
                    </div>
                </div>
            </div>
            <div class="item-info-product ">
                <h4>
                    <a href="/@ViewBag.meta/@item.Meta/@item.MaSP">
                        @item.TenSP
                    </a>
                </h4>
                <div class="info-product-price">
                    <span class="item_price">
                        @item.Gia
                    </span>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                    <form action="#" method="post">
                        <fieldset>
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="business" value=" " />
                            <input type="hidden" name="item_name" value="@item.TenSP" />
                            <input type="hidden" name="amount" value="@item.Gia" />
                            <input type="hidden" name="currency_code" value="VND" />
                            <input type="hidden" name="return" value=" " />
                            <input type="hidden" name="cancel_return" value=" " />
                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>
