
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@* Lấy Banner *@

@{Html.RenderAction("getBanner", "Banner"); }

<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Content/images/girlCategory.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>G</span>iày Nữ</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Content/images/menCategory.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>G</span>iày Nam</h3>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- schedule-bottom -->
<div class="schedule-bottom">
    <div class="col-md-6 agileinfo_schedule_bottom_left">
        <img src="~/Content/images/cover.jpg" alt="cover-ldt" class="img-responsive" />
    </div>
    <div class="col-md-6 agileits_schedule_bottom_right">
        <div class="w3ls_schedule_bottom_right_grid">
            <h3>Giảm giá <span>lên đến 50%</span></h3>
            <p>
                Chương trình giảm giá tri ân khách hàng. <br />
                Bạn đã sẵn sàng trở thành một Sneakerhead thực thụ chưa?
            </p>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h4>Khách hàng</h4>
                <h5 class="counter">653</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <h4>Sự kiện</h4>
                <h5 class="counter">823</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h4>Thành tựu</h4>
                <h5 class="counter">45</h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<!--/grids-->
<div class="agile_last_double_sectionw3ls" style="padding: 20px">
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="/san-pham/giay-nu"><img src="~/Content/images/girlCategory.jpg" alt="giay-nu"></a>

    </div>
    <div class="col-md-6 multi-gd-img multi-gd-text ">
        <a href="/san-pham/giay-nam"><img src="~/Content/images/menCategory.jpg" alt="giay-nam"></a>
    </div>
    <div class="clearfix"></div>
</div>
<!--/grids-->
@* Lấy Products *@

<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">Sản phẩm</h3>
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                @{ Html.RenderAction("getCategory", "Default");}
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="~/Scripts/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    });
</script>
<script src="~/Scripts/js/modernizr.custom.js"></script>
<!-- Custom-JavaScript-File-Links -->
<!---->
<script type='text/javascript'>
    //<![CDATA[
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [1000, 7000],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

    });//]]>

</script>
<script type="text/javascript" src="~/Scripts/js/jquery-ui.js"></script>
<!---->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/Scripts/js/move-top.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery.easing.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
<script type="text/javascript" src="~/Scripts/js/bootstrap.js"></script>

<!-- /we-offer -->
<!-- //we-offer -->
