
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<h2>Welcome to Admin</h2>
<div style="display:flex; justify-content:center;">
    <img style="width:1400px; height:1000px;" src="~/Areas/admin/Content/admin/upload/logo.jpg" alt="logo"/>
</div>
